 /*@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@keyframes videoAnimation {
  from {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  to {
    background-color: black;
    color: rgb(255, 255, 255);
  }
}

@keyframes reverse {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: rgb(255, 255, 255);
    color: black;
  }
}

body {

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  /*columns: black;*/
  background-color: rgb(255, 255, 255);
  /*height: 50cm;*/
  color:black;
   width: 100%;  

}

.banner {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  vertical-align: middle;
}

/*.img {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}*/

.sections {
  display: flex;
  flex-direction: inherit;

  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: fit-content;
  animation-name: reverse;
  animation-duration: 0.25s;
  border-radius: 25px;

width:99%  
}

.div {

}

.sections:hover {
  /* background-color: black;
  color: white; */
  animation-name: videoAnimation;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  background-color: rgb(0, 0, 0);
  color: white;
  /*animation: backwards;*/
}

.davinci {
  align-self: flex-start;
  margin: 5px;
}

.davincivideo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 15px;
  height: 315px;
}

.vid {
  height: 100%;
  width: 85%;
}

@media (max-width: 1200px) {
  .videobanner {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  flex-wrap: wrap;
  padding: 25px 25px 25px 25px;
  
}

.navcontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  vertical-align: right;
  flex-wrap: wrap;
  padding: 1cm ;
  padding-left:0px;

  
}

.name {
  font-size: 75px;
  font-weight: bold;
  font-family: "Poppins";
}

.myposition {
  font-size: 45px;
  font-family: "Poppins";
  text-align: left;
  width:95%;
}

.describe {
  font-size: 30px;
  display: flex;
  font-family: "Poppins";
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 20px;
}

.info {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1cm 1cm;
}

.nav {
  font-size: 20px;
  font-family: "Poppins";
  padding: 1cm;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;


}

.mainnav {
  background-image: url("./Photos/nav.jpg");
  font-size: 20px;
  font-family: "Poppins";
  color: white;
  padding: 1cm 1cm;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
}

.split{


  padding: 1cm;


  display: flex;
    align-self: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

@media (max-width: 1200px) {
  .split {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
	
  }
  
  .box{
	border-style: outset;
	padding: 10px 10px 2.5px 10px;
	height: 100px;
	border-radius:10px;
border-width:small;
text-align:center;
	justify-content: space-between;
}
}

.box{
	border-style: outset;
	padding: 10px 10px 5px 10px;
	height: 40px;
	border-radius:10px;
border-width:medium;

	
}

.box:hover{
	 font-weight: bold;
	border-style: outset;
	padding: 15px 15px 5px 15px;
	height: 40px;
	animation-name: videoAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  background-color: rgb(255,255,255);
  color: black;
}

.splitnav{
  padding: 1cm;
  display: flex;
    align-self: center;
    flex-direction: row;
    align-content: center;
    /*justify-content: center;*/
	flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 20px;
  
  
}

@media (max-width: 1200px) {
  .splitnav {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;

	font-size: 20px;
  font-family: "Poppins";
  padding: 2cm;
  flex-wrap: nowrap;
  width:40%;
  


 /* justify-content: space-evenly;

    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;*/
    justify-content: center;
  }
  
.navsection {

  background-color: black;
  color: black;

}

.car{
	border-style: solid;
	border-radius:25px;
}